html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 3.4rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

h2, h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 1.2rem 0;
}

h4, h5 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

h6 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1rem 0;
}

md-card-header-text > h3,
md-card-header-text > p {
  margin: 0;
}

view-home,
view-component,
my-greeter,
my-ticker {
  display: block;
}
